body, html {
	height: 100%;
	counter-reset: line-count;
	background: black;
	font-family: "Courier New", Courier, monospaced;
	color: #0078e7;
}

table {
    empty-cells: show;
}


textarea {
	font-size: inherit;
	font-family: "Courier New", monospaced;
}

select {
    background: #40404040;
    color: #007fe7;
    border-radius: 4px;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    radial-gradient(#0078e7 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

.text-content {
    display: flex;
    flex-direction: row;
    align-items: strech;
}

#line-numbers {
    min-width: 40px;
    margin-right: 5px;
    border-top: 3px solid #0078e7;
    border-right: 3px solid #0078e7;
    background: #40404040;
    text-align: right;
    padding-right: 5px;
}

.line-number {
    display: block;
}

.line-number::before {
    counter-increment: line-count;
    content: counter(line-count);
}
.byte-line .message{
    display: block;
}

.bad-byte {
    background: red;
}

#bytes {
    background: #14141414;
    min-height: 100%;
    min-width: 120px;
    border-right: 3px solid black;
    margin-right: 5px;
    white-space: pre;
}

#assembly {
    flex-grow: 20;
    min-width: 400px;
    background: #40404040;
    white-space: pre;
}

#byte-data {
    flex-grow: 2;
    max-width: 650px;
}

#bad-bytes {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: .2em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#byte-string,
#errors {
	background: #14141414;
	max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

input[type=button] {
    background: black;
    color: #0078e7;
    border: solid 2px #0078e7;
    padding: 0;
}

input[type=button]:hover {
    background: #0078e7;
    color: black;
    border: solid 2px black;
    padding: 0;
}

input[type=button].down {
    background: red;
    color: black;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #eaeaea;
    border-right: solid 2px #eaeaea;
    padding: 0;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    margin: 0;
    border: none;
}

.collapsible:after {
    content: '\02795';
}

.active:after {
    content: '\02796';
}
.active, .collapsible:hover {
	background-color: #0078e7;
	color: black;
}

.invalid-instruction {
    background: #260000;
}

.comment {
    color: gray;
}

.instruction {
    color: orange;
}

.directive {
    color: white;
}

.register {
    color: #A300FC;
}

.number {
    color: #00FCA3;
}

#error-count {
    display: inline-block;
    visibility: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}

#error-count.errors-present {
    visibility: visible;
    background: red;
}

#copy-bytes {
    background: "./img/copy.png";
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #202020;
  color: #0078e7;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}